In [2]:
import numpy as np 
import pandas as pd 
import seaborn as sns
from matplotlib import pyplot as plt
import  re

In [3]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [3]:
#import os
#from google.colab import drive
#drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df = pd.read_csv('tb_redrakor.csv')

In [5]:
df.head()

,rank,judul,tahun,episode,network,umur,sinopsis,genre,tags,rating,funfact
0,1,Move to Heaven,2021,10,Netflix,18+,Menceritakan kisah dari Han Geu-Roo yang mende...,"Life, Drama, Family","Autism, Father-Son Relationship, Uncle-Nephew ...",9.2,Drama ini diadaptasi dari kisah nyata yaitu So...
1,2,Hospital Playlist,2020,12,"tvN, Netflix",15+,Kisah-kisah tentang orang-orang yang menjalani...,"Friendship, Romance, Life, Medical","Strong Friendship, Doctor, Multiple Mains, Slo...",9.1,Nama para tokoh Hospital Playlist diambil dari...
2,3,Flower of Evil,2020,16,"tvN, Netflix, Vidio, iQIYI, viu, Amazon Prime ...",15+,Meskipun Baek Hee Sung menyembunyikan rahasia ...,"Thriller, Romance, Crime, Melodrama","Married Couple, Deception, Suspense, Family Se...",9.1,Judul drama ini terinspirasi dari buku puisi C...
3,4,My Mister,2018,16,"tvN, Netflix, Vidio, iQIYI, Viu",15+,Park Dong Hoon adalah seorang insinyur paruh b...,"Business, Psychological, Life, Drama, Family","Nice Male Lead, Strong Female Lead, Hardship, ...",9.1,Penggemar IU (pemeran wanita utama) merasa keb...
4,5,Prison Playbook,2017,16,"tvN, Netflix, Disney+, Viu, Vidio, iQIYI, Ama...",15+,Menceritakan kisah atlet baseball terkenal ber...,"Comedy, Life, Drama","Prison, Bromance, Wrongfully Accused, Life Les...",9.1,Latar tempat utama di drama ini adalah penjara...

In [6]:
df.isnull().sum()

rank        0
judul       0
tahun       0
episode     0
network     0
umur        0
sinopsis    0
genre       0
tags        0
rating      0
funfact     0
dtype: int64

In [7]:
df[df['tahun'] == 'Unknow'].head(3)

Empty DataFrame
Columns: [rank, judul, tahun, episode, network, umur, sinopsis, genre, tags, rating, funfact]
Index: []

In [8]:
df.loc[(df['genre'] == 'Romance') & (df['tahun'] == 'Unknow'), 'tahun'] = '1'
df.loc[(df['network'] == 'tvN') & (df['tahun'] == 'Unknow'), 'tahun'] = '1'
df.loc[(df['network'] == 'Netflix') & (df['tahun'] == 'Unknow'), 'tahun'] = '1'

In [9]:
known_df = {'Move to Heaven':10, 'Hospital Playlist':12, 'Flower of Evil':16, 'My Mister':16, 'Reply 1988':20, 'Signal':16, 'Navillera':12
            ,'Mr. Queen':20, 'Kingdom':6}

In [10]:
for k,v in known_df.items():
  df.loc[df['judul']==k,'tahun']=v

In [11]:
df['tahun'] = df['tahun'].map(lambda x:np.nan if x=='Unknow' else x)

In [12]:
df['tahun'].fillna(df['tahun'].median(), inplace = True)

In [13]:
pd.get_dummies(df[['network']]).head()

,network_KBS2,"network_KBS2, Netflix","network_KBS2, Viki, Netflix","network_KBS2, Viki, Netflix, Apple TV","network_KBS2, Viki, Netflix, Prime Video","network_KBS2, WeTV, Netflix, Iflix, Apple TV, Viki",network_MBC,"network_MBC, Viki","network_MBC, Viki, Netflix, Apple TV, Prime Video","network_MBC, iQIYI, Viu, WeTV",...,"network_tvN, Netflix, Vidio, Viu","network_tvN, Netflix, Vidio, iQIYI, Viu","network_tvN, Netflix, Vidio, iQIYI, viu, Amazon Prime Vide","network_tvN, Netflix, Viu, Vidio, iQIYI, Amazon Prime Vide","network_tvN, Vidio, Amazon Prime Video","network_tvN, Vidio, Disney+","network_tvN, Viki, WeTV","network_tvN, Viki, WeTV, Apple TV","network_tvN, Viu","network_tvN, Viu, Vidio"
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df['rating'] = df['rating'].astype(float)
df['rating'].fillna(df['rating'].median(), inplace = True)
df['tahun'] = df['tahun'].astype(float)

In [15]:
df_features = pd.concat([df['genre'].str.get_dummies(sep=','),
                         pd.get_dummies(df[['network']]),
                         df[['rating']],df[['tahun']],df[['episode']]],axis=1)

df['judul'] = df['judul'].map(lambda judul:re.sub('[^A-Za-z0-9]+',' ', judul))
df_features.head()

,,Business,Comedy,Crime,Crime,D,Dr,Drama,Drama,Fa,...,"network_tvN, Netflix, Viu, Vidio, iQIYI, Amazon Prime Vide","network_tvN, Vidio, Amazon Prime Video","network_tvN, Vidio, Disney+","network_tvN, Viki, WeTV","network_tvN, Viki, WeTV, Apple TV","network_tvN, Viu","network_tvN, Viu, Vidio",rating,tahun,episode
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,9.2,10.0,10
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,9.1,12.0,12
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,9.1,16.0,16
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,9.1,16.0,16
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,9.1,2017.0,16

In [17]:
df_features.columns

Index([' ', '  Business', '  Comedy', '  Crime', '  Crime ', '  D', '  Dr',
       '  Drama', '  Drama ', '  Fa',
       ...
       'network_tvN, Netflix, Viu, Vidio, iQIYI, Amazon Prime Vide',
       'network_tvN, Vidio, Amazon Prime Video', 'network_tvN, Vidio, Disney+',
       'network_tvN, Viki, WeTV', 'network_tvN, Viki, WeTV, Apple TV',
       'network_tvN, Viu', 'network_tvN, Viu, Vidio', 'rating', 'tahun',
       'episode'],
      dtype='object', length=136)

In [20]:
from sklearn.preprocessing import MinMaxScaler

In [21]:
min_max_scaler = MinMaxScaler()
df_features = min_max_scaler.fit_transform(df_features)

In [22]:
np.round(df_features, 2)

array([[0.  , 0.  , 0.  , ..., 1.  , 0.  , 0.04],
       [0.  , 0.  , 0.  , ..., 0.86, 0.  , 0.06],
       [0.  , 0.  , 0.  , ..., 0.86, 0.  , 0.11],
       ...,
       [0.  , 0.  , 1.  , ..., 0.  , 1.  , 0.11],
       [0.  , 0.  , 0.  , ..., 0.  , 1.  , 0.07],
       [0.  , 0.  , 0.  , ..., 0.  , 1.  , 0.19]])

In [23]:
from sklearn.neighbors import NearestNeighbors

In [24]:
nbrs =NearestNeighbors(n_neighbors=6, algorithm='ball_tree').fit(df_features)

In [25]:
distances, indices = nbrs.kneighbors(df_features)

In [26]:
def get_index_from_name(judul):
  search_result = df[df['judul']==judul].index.tolist()
  if not search_result:
    return -1
  return search_result[0]

all_drama_names = list(df.judul.values)

def get_id_from_partial_name(partial):
  for judul in all_drama_names:
    if partial in judul:
      print(judul,all_drama_names.index(judul))

def print_similar_drama(query=None, rank=None):
  if rank:
    for rank in indices[rank][1:]:
      print(df.iloc[rank]['judul'])
  if query:
    found_rank = get_index_from_name(query)
    for rank in indices[found_rank][1:]:
      print(df.iloc[rank]['judul'])

In [27]:
print_similar_drama('Move to Heaven')

Navillera
My Mister
SKY Castle
My Father is Strange
It s Okay to Not Be

In [28]:
print_similar_drama('W')

Cruel City
Rebel
Descendants of the S
Strong Woman Do Bong
Healer

In [29]:
get_id_from_partial_name('W')

Weightlifting Fairy  22
While You Were Sleep 33
Strong Woman Do Bong 49
Eulachacha Waikiki 54
The World of the Mar 82
What s Wrong with Se 86
When the Camellia Bl 87
Fight For My Way 89
W 91
Beautiful World 92

In [27]:
#import pickle

# Save the model to a file
#with open('model.pkl', 'wb') as f:
#  pickle.dump(print_similar_drama ,f)

In [28]:
# Load the model from the file
#with open('model.pkl', 'rb') as f:
#  model = pickle.load(f)

In [29]:
#model('W')

NameError: ignored

In [30]:
import joblib

# Save the model to a file
joblib.dump(print_similar_drama, 'model.joblib')

['model.joblib']

In [31]:
import joblib

# Load the model from the file
model = joblib.load('model.joblib')

In [32]:
model('Move to Heaven')

Navillera
My Mister
SKY Castle
My Father is Strange
It s Okay to Not Be