In [200]:
import numpy as np 
import pandas as pd 
import seaborn as sns
from matplotlib import pyplot as plt
import  re

In [201]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [202]:
#import os
#from google.colab import drive
#drive.mount('/content/drive')

In [203]:
df = pd.read_csv('tb_redrakor.csv', index_col=None)

In [204]:
df.head()

,rank,judul,tahun,episode,network,umur,sinopsis,genre,tags,rating,funfact
0,1,Move to Heaven,2021,10,Netflix,18+,Menceritakan kisah dari Han Geu-Roo yang mende...,"Life, Drama, Family","Autism, Father-Son Relationship, Uncle-Nephew ...",9.2,Drama ini diadaptasi dari kisah nyata yaitu So...
1,2,Hospital Playlist,2020,12,"tvN, Netflix",15+,Kisah-kisah tentang orang-orang yang menjalani...,"Friendship, Romance, Life, Medical","Strong Friendship, Doctor, Multiple Mains, Slo...",9.1,Nama para tokoh Hospital Playlist diambil dari...
2,3,Flower of Evil,2020,16,"tvN, Netflix, Vidio, iQIYI, viu, Amazon Prime ...",15+,Meskipun Baek Hee Sung menyembunyikan rahasia ...,"Thriller, Romance, Crime, Melodrama","Married Couple, Deception, Suspense, Family Se...",9.1,Judul drama ini terinspirasi dari buku puisi C...
3,4,My Mister,2018,16,"tvN, Netflix, Vidio, iQIYI, Viu",15+,Park Dong Hoon adalah seorang insinyur paruh b...,"Business, Psychological, Life, Drama, Family","Nice Male Lead, Strong Female Lead, Hardship, ...",9.1,Penggemar IU (pemeran wanita utama) merasa keb...
4,5,Prison Playbook,2017,16,"tvN, Netflix, Disney+, Viu, Vidio, iQIYI, Ama...",15+,Menceritakan kisah atlet baseball terkenal ber...,"Comedy, Life, Drama","Prison, Bromance, Wrongfully Accused, Life Les...",9.1,Latar tempat utama di drama ini adalah penjara...

In [205]:
df = df.drop(['network', 'umur', 'sinopsis', 'tags', 'funfact'], axis=1)

In [206]:
df_features = pd.concat([df['genre'].str.strip().str.get_dummies(sep=','), df[['rating']],df[['tahun']],df[['episode']]],axis=1)

df['judul'] = df['judul'].map(lambda judul:re.sub('[^A-Za-z0-9]+',' ', judul))
df_features.head()

,Business,Comedy,Crime,D,Dr,Drama,Fa,Famil,Family,Fant,...,Military,Music,Mystery,Psychological,Romance,Suspense,Thriller,rating,tahun,episode
0,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,9.2,2021,10
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,9.1,2020,12
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,9.1,2020,16
3,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,9.1,2018,16
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,9.1,2017,16

In [207]:
df_features.columns

Index(['  Business', '  Comedy', '  Crime', '  D', '  Dr', '  Drama', '  Fa',
       '  Famil', '  Family', '  Fant', '  Fantasy', '  Friendship',
       '  Historical', '  Horror', '  Invest', '  Investigation', '  Law',
       '  Life', '  M', '  Martial Arts', '  Me', '  Medica', '  Medical',
       '  Melo', '  Melodrama', '  Military', '  Myster', '  Mystery', '  Pol',
       '  Polit', '  Political', '  Psychological', '  Romance', '  S',
       '  School', '  Sci-Fi', '  Sports', '  Sup', '  Super', '  Supernat',
       '  Supernatu', '  Supernatural', '  Suspense', '  Thriller', '  Y',
       '  Yo', '  Youth', '  Zombies', 'Action', 'Business', 'Comedy', 'Drama',
       'Food', 'Friendship', 'Historical', 'Horror', 'Life', 'Military',
       'Music', 'Mystery', 'Psychological', 'Romance', 'Suspense', 'Thriller',
       'rating', 'tahun', 'episode'],
      dtype='object')

In [208]:
from sklearn.preprocessing import MinMaxScaler

In [209]:
min_max_scaler = MinMaxScaler()
df_features = min_max_scaler.fit_transform(df_features)

In [210]:
np.round(df_features, 2)

array([[0.  , 0.  , 0.  , ..., 1.  , 1.  , 0.04],
       [0.  , 0.  , 0.  , ..., 0.86, 0.94, 0.06],
       [0.  , 0.  , 1.  , ..., 0.86, 0.94, 0.11],
       ...,
       [0.  , 1.  , 0.  , ..., 0.  , 0.89, 0.11],
       [0.  , 0.  , 0.  , ..., 0.  , 1.  , 0.07],
       [0.  , 0.  , 0.  , ..., 0.  , 0.44, 0.19]])

In [211]:
from sklearn.neighbors import NearestNeighbors

In [212]:
nbrs = NearestNeighbors(n_neighbors=6, algorithm='ball_tree')

In [213]:
df_features

array([[0.        , 0.        , 0.        , ..., 1.        , 1.        ,
        0.04255319],
       [0.        , 0.        , 0.        , ..., 0.85714286, 0.94444444,
        0.06382979],
       [0.        , 0.        , 1.        , ..., 0.85714286, 0.94444444,
        0.10638298],
       ...,
       [0.        , 1.        , 0.        , ..., 0.        , 0.88888889,
        0.10638298],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.07446809],
       [0.        , 0.        , 0.        , ..., 0.        , 0.44444444,
        0.19148936]])

In [214]:
# distances, indices = nbrs.kneighbors(df_features)

In [215]:
print_similar_drama('Move to Heaven')

Navillera
SKY Castle
My Father is Strange
The World of the Mar
Beautiful World

In [216]:
print_similar_drama('W')

Rebel
Cruel City
Descendants of the S
Moon Lovers
Strong Woman Do Bong

In [217]:
get_id_from_partial_name('W')

In [220]:
model = joblib.load('redrakor.joblib')

In [244]:
distances, indices = model.kneighbors(df_features)
prediction = []
found_rank = get_index_from_name('Move to Heaven')
for rank in indices[found_rank][1:]:
    prediction.append(df.iloc[rank]['judul'])
    
tes = df[df['judul'].isin(pd.Series(prediction))]
tes

,rank,judul,tahun,episode,genre,rating
8,9,Navillera,2021,12,"Friendship, Life, Drama, Family",9.0
12,13,SKY Castle,2018,20,"Mystery, Psychological, Drama, Family",9.0
57,58,My Father is Strange,2017,52,"Comedy, Romance, Drama, Family",8.6
82,83,The World of the Mar,2020,16,"Romance, Drama, Family, Melodrama",8.5
92,93,Beautiful World,2019,16,"Life, School, Family, Melodrama",8.5

In [231]:
df

,rank,judul,tahun,episode,genre,rating
0,1,Move to Heaven,2021,10,"Life, Drama, Family",9.2
1,2,Hospital Playlist,2020,12,"Friendship, Romance, Life, Medical",9.1
2,3,Flower of Evil,2020,16,"Thriller, Romance, Crime, Melodrama",9.1
3,4,My Mister,2018,16,"Business, Psychological, Life, Drama, Family",9.1
4,5,Prison Playbook,2017,16,"Comedy, Life, Drama",9.1
...,...,...,...,...,...,...
95,96,Thirty But Seventeen,2018,32,"Music, Mystery, Comedy, Romance, Drama",8.5
96,97,Vagabond,2019,16,"Action, Thriller, Mystery, Crime, Melodrama",8.5
97,98,Be Melodramatic,2019,16,"Friendship, Comedy, Romance, Life, Melodrama",8.5
98,99,Mad for Each Other,2021,13,"Comedy, Romance, Drama",8.5
99,100,The Princess s Man,2011,24,"Action, Historical, Romance, Political",8.5

In [224]:
def get_index_from_name(judul):
  search_result = df[df['judul']==judul].index.tolist()
  if not search_result:
    return -1
  return search_result[0]

all_drama_names = list(df.judul.values)

def get_id_from_partial_name(partial):
  for judul in all_drama_names:
    if partial in judul:
      print(judul,all_drama_names.index(judul))

def print_similar_drama(query=None, rank=None):
  if rank:
    for rank in indices[rank][1:]:
      print(df.iloc[rank]['judul'])
  if query:
    found_rank = get_index_from_name(query)
    for rank in indices[found_rank][1:]:
      print(df.iloc[rank]['judul'])
    
def get_name(judul):
    df = df[df['judul'] == judul]    
    df_feature = pd.concat([df['genre'].str.strip().str.get_dummies(sep=','), df[['rating']],df[['tahun']],df[['episode']]],axis=1)
    return df_feature

In [226]:
import joblib
from sklearn.pipeline import make_pipeline

In [228]:
# pipeline = make_pipeline(MinMaxScaler(), nbrs)
# pipeline.fit(df_features)

joblib.dump(nbrs, 'redrakor.joblib')

['redrakor.joblib']

In [229]:
joblib.dump(df_features, 'minmax.joblib')

['minmax.joblib']